<h1>Feature and Bugs</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Project</th>
      <th>Status</th>
      <th>Type</th>
      <th>Deadline</th>
      <th>Screenshot</th>
      <th>Assignment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @feature_and_bugs.each do |feature_and_bug| %>
      <tr>
        <td><%= feature_and_bug.title %></td>
        <td><%= feature_and_bug.description %></td>
        <td><%= feature_and_bug.status %></td>
        <td><%= feature_and_bug.item_type %></td>
        <td><%= feature_and_bug.deadline %></td>
        <td><%= feature_and_bug.screenshot.present? ? image_tag(feature_and_bug.screenshot.url) : 'No Image' %></td>
        
        <%# <td><%= link_to 'Show', feature_and_bug %>
        <td><%= link_to 'Edit', edit_project_feature_and_bug_path(feature_and_bug.project, feature_and_bug) %></td>

        <td><%= link_to 'Destroy', project_feature_and_bug_path(feature_and_bug.project, feature_and_bug), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Feature and Bug', new_project_feature_and_bug_path %>
